@model Book
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Купівля</title>
</head>
<body>
    <div>
        <h3>Форма оформлення купівлі</h3>
        <form method="post" action="">
            <input type="hidden" value="@Model.Id" name="BookId" />
            <input type="hidden" value="1" name="CustomerId" />
            <h4>@Model.Author</h4>
            <h3>@Model.Name</h3>
            <h5>@Model.Price (грн.)</h5>
            <table>
                <tr>
                    <td><p>Введіть своє ім'я</p></td>
                    <td><input type="text" name="Person" /></td>
                </tr>
                <tr>
                    <td><p>Введіть адресу</p></td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Підтвердити" /></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
